.feature-box p {
    max-width: none !important;
}

.promo-section::before {
    background-color: rgba(0, 0, 0, 0.65);
}




.parent-card-carousel {
    margin: 50px auto;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(19, 41, 47), rgb(77, 140, 82));
    border-radius: 15px;
}

    .parent-card-carousel .carouselbtn {
        position: absolute;
        top: 70px;
        background: transparent;
        border: 0;
        color: white;
        font-size: 45px;
        outline: 0;
    }

        .parent-card-carousel .carouselbtn:first-of-type {
            left: 5px;
        }

        .parent-card-carousel .carouselbtn:last-of-type {
            right: 5px;
        }


.card-carousel {
    width: 100%;
    position: relative;
    height: 100%;
    transition: all 0.5s linear;
    right: 0;
}

    .card-carousel div {
        width: 100%;
        height: 100%;
        position: absolute;
    }

.activebtncarousel {
    background: #f6821f;
}

.parent-card-carousel .points-carousel {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

    .parent-card-carousel .points-carousel button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 0;
        margin: 5px;
        outline: 0;
    }


.card-carousel-header {
    font-weight: 500;
    font-size: 2.5rem;
    color: #a5a5a5;
    text-align: center;
    font-family: Oswald, sans-serif;
    letter-spacing: .01rem;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

.new-btn {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 2px;
    min-width: 124px;
    transition: all .3s;
    color: #ffffff !important;
    background-color: #f6821f;
    border-color: #f6821f;
    font-family: "Oswald",sans-serif;
}

.campaign-head {
    margin-left: 70px !important;
    position: absolute !important;
    top: 25% !important;
    width: 75% !important;
}

.campaign-top-text {
    font-weight: 500;
    font-size: 16px;
    color: #f6821f;
}

.campaign-main-text {
    font-weight: 600;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 5px;
}

.campaign-image {
    width: 150px;
    margin: auto;
    float: right;
}


@media only screen and (max-width: 600px) {
    .campaign-head {
        width: 75% !important;
        top: 30% !important;
        margin-left: 50px !important;
    }

    .campaign-top-text {
        font-weight: 500;
        font-size: 12px;
        color: #f6821f;
    }

    .campaign-main-text {
        font-weight: 600;
        font-size: 22px;
        color: #ffffff;
        margin-bottom: 5px;
    }

    .new-btn {
       
        font-size: 1.0rem !important;
     
    }

    .card-carousel-header {
       
        font-size: 1.8rem;
   
    }
}