@model Order
@{
    ViewData["Title"] = "Sipariş Başarıyla Tamamlandı";
}

<main class="main" style="margin-top:30px;">  
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-lg-last dashboard-content">
                <div class="alert alert-success alert-intro" role="alert">
                    <span style="font-weight:600;font-size:20px;">  Siparişiniz Onaylandı</span>
                </div><!-- End .alert -->
                <div class="alert alert-info" role="alert">
                   Bizi terih ettiğiniz için Teşekkürler. Buradan Siparişlerinizi Kontrol edebilirsiniz. <span style="font-weight:600;color:grey">|</span>  <a asp-controller="Manage" asp-action="MyOrders"> Siparişlerim </a>
                </div><!-- End .alert -->
                <div class="mb-4"></div><!-- margin -->   
                <div class="card">           
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" style=" padding: 20px; background-color: #f5f5f5;border-radius: 7px;margin: 20px;margin-left:30px;">
                                <p style="font-weight:600;font-size:14px;">Sipariş Numarası</p>
                                <address style="font-weight:700;font-size:17px;">
                                    @Model.Id
                                </address>
                            </div>
                            <div class="col-md-3" style=" padding: 20px; background-color: #f5f5f5;border-radius: 5px;margin: 20px;">
                                <p style="font-weight:600;font-size:14px;">Sepetteki Ürün Adedi</p>
                                <address style="font-weight:700;font-size:17px;">
                                    @Model.orderLine.Count
                                </address>
                            </div>
                            <div class="col-md-3" style=" padding: 20px; background-color: #f5f5f5;border-radius: 5px;margin: 20px;">
                                <p style="font-weight:600;font-size:14px;">Toplam Tutar</p>
                                <address style="font-weight:700;font-size:17px;">
                                    @String.Format(System.Globalization.CultureInfo.GetCultureInfo("tr-TR"), "{0:N2}", Model.Total) ₺
                                </address>
                            </div>
                        </div>
                    </div><!-- End .card-body -->
                </div><!-- End .card -->
            </div><!-- End .col-lg-9 -->         
        </div><!-- End .row -->
    </div><!-- End .container -->
    <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->
