
<li class="m-nav__item m-topbar__quick-actions m-dropdown m-dropdown--skin-light m-dropdown--large m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
    <a href="#" class="m-nav__link m-dropdown__toggle">
        <span class="m-nav__link-icon">
            <span class="m-nav__link-icon-wrapper">
                <i class="flaticon-share"></i>
            </span>

        </span>
    </a>
    <div class="m-dropdown__wrapper">
        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
        <div class="m-dropdown__inner">
            <div class="m-dropdown__header m--align-center">
                <span class="m-dropdown__header-title">
                   Hızlı Menü
                </span>
                <span class="m-dropdown__header-subtitle">
                    Kısayollar
                </span>
            </div>
            <div class="m-dropdown__body m-dropdown__body--paddingless">
                <div class="m-dropdown__content">
                    <div class="m-scrollable" data-scrollable="false" data-max-height="380" data-mobile-max-height="200">
                        <div class="m-nav-grid m-nav-grid--skin-light">
                            <div class="m-nav-grid__row">
                                <a asp-controller="Product" asp-action="Index" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-bag"></i>
                                    <span class="m-nav-grid__text">
                                        Ürünler
                                    </span>
                                </a>
                                <a asp-controller="Campaign" asp-action="Index" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-gift"></i>
                                    <span class="m-nav-grid__text">
                                        Kampanyalar
                                    </span>
                                </a>
                            </div>
                            <div class="m-nav-grid__row">
                                <a asp-controller="Announcement" asp-action="Index" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-bell"></i>
                                    <span class="m-nav-grid__text">
                                        Duyurular
                                    </span>
                                </a>
                                <a asp-controller="Home" asp-action="Contact" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-email"></i>
                                    <span class="m-nav-grid__text">
                                        İletişim
                                    </span>
                                </a>
                            </div>
                            <div class="m-nav-grid__row">
                                <a href="/Admin" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-cogwheel-1"></i>
                                    <span class="m-nav-grid__text">
                                        Admin Paneli
                                    </span>
                                </a>
                                <a href="/Supplier" class="m-nav-grid__item">
                                    <i class="m-nav-grid__icon flaticon-network"></i>
                                    <span class="m-nav-grid__text">
                                      Tedarikçi Paneli
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>