@{
    ViewData["Title"] = "Anasayfa";
}

<style>
.feature-box p {
       
         max-width: none !important;
    }

</style>
<main class="main">
    <div class="home-slider-container">
        <div class="home-slider owl-carousel">
            <div class="home-slide">
                <div class="slide-bg owl-lazy" data-src="/images/slider/slider1.png"></div><!-- End .slide-bg -->
                <div class="home-slide-content container">
                    <div class="row">
                        <div class="col-md-6 offset-md-6 col-lg-5 offset-lg-7">
                            <h4>İnanılmaz</h4>
                            <h1 style="font-size:50px">Ürünler</h1>
                            <h3><strong>2 ₺</strong> 'den Başyalan Fiyatlarla</h3>
                            <a href="category.html" class="btn btn-primary">Alışverişe Başla</a>
                        </div><!-- End .col-lg-5 -->
                    </div><!-- End .row -->
                </div><!-- End .home-slide-content -->
            </div><!-- End .home-slide -->
            <div class="home-slide">
                <div class="slide-bg owl-lazy" data-src="/images/slider/slider2.png"></div><!-- End .slide-bg -->
                <div class="home-slide-content container">                   
                    <h1 style="font-size:40px">Ürünlerimizi Gördünüz mü! </h1>
                    <a  asp-controller="Product" asp-action="Index" class="btn btn-warning">Git</a>
                </div><!-- End .home-slide-content -->
            </div><!-- End .home-slide -->
        </div><!-- End .home-slider -->
    </div><!-- End .home-slider-container -->
    <div class="info-boxes-container">
        <div class="container">
            <div class="info-box">
                <i class="icon-shipping"></i>
                <div class="info-box-content">
                    <h4>ÜCRETSİZ KARGO VE İADE</h4>
                    <p>Tüm Siparişlerinizde ücretsiz kargo</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
            <div class="info-box">
                <i class="icon-us-dollar"></i>
                <div class="info-box-content">
                    <h4>PARA İADE GARANTİSİ</h4>
                    <p>%100 Para iade garantisi</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
            <div class="info-box">
                <i class="icon-support"></i>
                <div class="info-box-content">
                    <h4>24/7 Online destek</h4>
                    <p>7 gün 24 saat bize ulaşabilir ve destek alabilirsiniz</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
        </div><!-- End .container -->
    </div><!-- End .info-boxes-container -->

    <div class="home-product-tabs">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="featured-products-tab" data-toggle="tab" href="#featured-products" role="tab" aria-controls="featured-products" aria-selected="true">Tavsiye Ürünler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="latest-products-tab" data-toggle="tab" href="#latest-products" role="tab" aria-controls="latest-products" aria-selected="false">Son Ürünler</a>
                </li>
            </ul>
        </div><!-- End .container -->
        <div class="tab-content">
            @await Component.InvokeAsync("FeaturedProducts")
            @await Component.InvokeAsync("LatestProducts")
        </div><!-- End .tab-content -->
    </div><!-- End .home-product-tabs -->



    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="feature-box">
                    <i class="icon-star"></i>
                    <div class="feature-box-content">
                        <h3>Özenli Hizmet </h3>
                        <p>Sipariş,Öneri ve Sorunlarınız konusunda yardım için uzmanlarımıza danışın.</p>
                        <a asp-controller="Home" asp-action="Contact" class="btn btn-sm btn-outline-dark">İletişime geçin</a>
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-6">
                <div class="feature-box">
                    <i class="icon-reply"></i>
                    <div class="feature-box-content">
                        <h3>Ücretsiz iade</h3>
                        <p>Mal ve hizmetlerimizin arkasında duruyoruz ve onlardan memnun olmanızı istiyoruz.</p>
                        <a asp-controller="Home" asp-action="ReturnPolicy"class="btn btn-sm btn-outline-dark">İade Politikası</a>
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->    
        </div><!-- End .row -->
    </div><!-- End .container -->
    <div class="mb-1"></div><!-- margin -->
    <div class="promo-section" style="background-image:none"> @*url(/images/slider/ss.png)*@
        <div class="container">
            <h3>Alışveriş Zamanı</h3>
            <h4>Şimdi Alışveriş yapmanın tam zamanı</h4>
            <a href="#" class="btn btn-primary"> Ürünler </a>
        </div><!-- End .container -->
    </div><!-- End .promo-section -->
    <div class="partners-container">
        <div class="container">
            <div class="partners-carousel owl-carousel owl-theme" style="margin-right:40px">
                <a href="#" class="partner">
                    <img src="~/brand/cenasis.png" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="~/brand/ekomini.jpg" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="~/brand/Migros.png" alt="logo">
                </a>
                
            </div><!-- End .partners-carousel -->
        </div><!-- End .container -->
    </div><!-- End .partners-container -->

    @await Component.InvokeAsync("TopThreeProducts")
    <!-- End .container -->
    <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->
