@{
    ViewData["Title"] = "Anasayfa";
}
<main class="main">
    <div class="home-slider-container">
        <div class="home-slider owl-carousel">
            <div class="home-slide">
                <div class="slide-bg owl-lazy" data-src="/porto/images/slider/slide-1.jpg"></div><!-- End .slide-bg -->
                <div class="home-slide-content container">
                    <div class="row">
                        <div class="col-md-6 offset-md-6 col-lg-5 offset-lg-7">
                            <h4>Premium</h4>
                            <h1>Headphones</h1>
                            <h3>Only <strong>199 USD</strong></h3>
                            <a href="category.html" class="btn btn-primary">Shop Now</a>
                        </div><!-- End .col-lg-5 -->
                    </div><!-- End .row -->
                </div><!-- End .home-slide-content -->
            </div><!-- End .home-slide -->
            <div class="home-slide">
                <div class="slide-bg owl-lazy" data-src="/porto/images/slider/slide-2.jpg"></div><!-- End .slide-bg -->
                <div class="home-slide-content container">
                    <h4>Amazing</h4>
                    <h1>Micro Drones</h1>
                    <h3>Only <strong>399 USD</strong></h3>
                    <a href="category.html" class="btn btn-primary">Shop Now</a>
                </div><!-- End .home-slide-content -->
            </div><!-- End .home-slide -->
        </div><!-- End .home-slider -->
    </div><!-- End .home-slider-container -->
    <div class="info-boxes-container">
        <div class="container">
            <div class="info-box">
                <i class="icon-shipping"></i>
                <div class="info-box-content">
                    <h4>FREE SHIPPING & RETURN</h4>
                    <p>Free shipping on all orders over $99.</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
            <div class="info-box">
                <i class="icon-us-dollar"></i>
                <div class="info-box-content">
                    <h4>MONEY BACK GUARANTEE</h4>
                    <p>100% money back guarantee</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
            <div class="info-box">
                <i class="icon-support"></i>
                <div class="info-box-content">
                    <h4>ONLINE SUPPORT 24/7</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
        </div><!-- End .container -->
    </div><!-- End .info-boxes-container -->

    <div class="home-product-tabs">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="featured-products-tab" data-toggle="tab" href="#featured-products" role="tab" aria-controls="featured-products" aria-selected="true">Tavsiye Ürünler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="latest-products-tab" data-toggle="tab" href="#latest-products" role="tab" aria-controls="latest-products" aria-selected="false">Son Ürünler</a>
                </li>
            </ul>
        </div><!-- End .container -->
        <div class="tab-content">
            @await Component.InvokeAsync("FeaturedProducts")
            @await Component.InvokeAsync("LatestProducts")
        </div><!-- End .tab-content -->
    </div><!-- End .home-product-tabs -->



    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon-star"></i>
                    <div class="feature-box-content">
                        <h3>Dedicated Service</h3>
                        <p>Consult our specialists for help with an order, customization, or design advice</p>
                        <a href="#" class="btn btn-sm btn-outline-dark">Get in touch</a>
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon-reply"></i>
                    <div class="feature-box-content">
                        <h3>Free returns</h3>
                        <p>We stand behind our goods and services and want you to be satisfied with them.</p>
                        <a href="#" class="btn btn-sm btn-outline-dark">Return Policy</a>
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->
            <div class="col-md-4">
                <div class="feature-box">
                    <i class="icon-paper-plane"></i>
                    <div class="feature-box-content">
                        <h3>international shipping</h3>
                        <p>Currently over 50 countries qualify for express international shipping.</p>
                        <a href="#" class="btn btn-sm btn-outline-dark">Learn More</a>
                    </div><!-- End .feature-box-content -->
                </div><!-- End .feature-box -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
    <div class="mb-1"></div><!-- margin -->
    <div class="promo-section" style="background-image: url(/porto/images/promo-bg.jpg)">
        <div class="container">
            <h3>the perfect gift</h3>
            <h4>Check off your list with our best gifts</h4>
            <a href="#" class="btn btn-primary">Shop Now</a>
        </div><!-- End .container -->
    </div><!-- End .promo-section -->
    <div class="partners-container">
        <div class="container">
            <div class="partners-carousel owl-carousel owl-theme" style="margin-right:40px">
                <a href="#" class="partner">
                    <img src="~/brand/cenasis.png" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="~/brand/ekomini.jpg" alt="logo">
                </a>
                <a href="#" class="partner">
                    <img src="~/brand/Migros.png" alt="logo">
                </a>
                
            </div><!-- End .partners-carousel -->
        </div><!-- End .container -->
    </div><!-- End .partners-container -->

    @await Component.InvokeAsync("TopThreeProducts")
    <!-- End .container -->
    <div class="mb-6"></div><!-- margin -->
</main><!-- End .main -->
