@model ChangePasswordViewModel
@{
    Layout = "_LayoutUser";
    ViewData["Title"] = "Şifre Değiştir";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            @await Component.InvokeAsync("ProfileNav")

            <div class="col-xl-9 col-lg-7 m--margin-bottom-10-mobile" style="margin-top:-50px">
                <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--danger">
                                    <span>
                                        Şifre Değiştir
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <form asp-action="ChangePassword" method="post" class="m-form m-form--fit m-form--label-align-right">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                        Eski Şifre
                                    </label>
                                    <div class="col-7">
                                        <input asp-for="OldPassword" type="password" class="form-control m-input">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                        Yeni Şifre
                                    </label>
                                    <div class="col-7">
                                        <input asp-for="NewPassword" type="password" class="form-control m-input">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        Yeni Şifre Tekrar
                                    </label>
                                    <div class="col-7">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control m-input">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                Kaydet
                                            </button>
                                            &nbsp;&nbsp;
                                            <a asp-action="Index" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                Vazgeç
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts {
   
}


